* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body, html {
    height: 100%;
}

body {
    background-image: url('assets/barbearia.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    padding: 0 20px; /* Adicionando espaço nas laterais */
}

header {
    background: rgba(0, 0, 0, 0.5); /* Adicionando um fundo semi-transparente para melhor legibilidade */
    text-align: center; /* Centralizando o conteúdo */
    padding: 20px 0;
}

a {
    color: #fff;
    font-size: 18px; /* Reduzindo o tamanho da fonte para melhor adaptação em telas menores */
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    margin: 0 10px; /* Adicionando um espaço entre os links */
}

.button-orange {
    background-color: #FBB034;
    color: #000;
    font-weight: bold;
    height: 2.5rem; /* Reduzindo a altura do botão */
    width: 8rem; /* Reduzindo a largura do botão */
    border: none;
    cursor: pointer;
    margin-left: 10px; /* Adicionando um espaço entre o último link e o botão */
}

.wrapper {
    position: absolute;
    top: 50%; /* Posicionando no centro vertical */
    left: 50%; /* Posicionando no centro horizontal */
    transform: translate(-50%, -50%); /* Centralizando horizontalmente e verticalmente */
    color: #fff;
    text-align: center; /* Centralizando o texto */
    padding: 20px;
    max-width: 400px; /* Limitando a largura máxima */
}

h3 {
    color: #FBB034;
    font-size: 1rem; /* Ajustando o tamanho da fonte */
    font-weight: 200;
}

h1 {
    font-size: 2rem; /* Ajustando o tamanho da fonte */
    font-weight: 700;
}

p {
    color: #9A9A9A;
    font-size: 1rem; /* Ajustando o tamanho da fonte */
    font-weight: 300;
}

.button-orange2 {
    margin-top: 2rem; /* Reduzindo a margem superior */
}

.button-transparent {
    height: 2.5rem; /* Reduzindo a altura do botão */
    width: 8rem; /* Reduzindo a largura do botão */
    background-color: transparent;
    border: 2px solid #fff; /* Definindo uma borda branca */
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    margin-top: 1rem; /* Reduzindo a margem superior */
}

.mascara {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(109deg, rgba(10,12,16,0.99) 15%, rgba(10,12,16,0.7) 50%, rgba(10,12,16,0.99) 85% );
    position: fixed ;
    top: 0;
}
